In [1]:
array = [1,4,5,7,8,9,12,15]

In [3]:
sum = 0
for i in array:
    if i % 2 == 1:
        sum += i
print(sum)

37

In [4]:
string = "zpiaz"
index_list = [1,2,0,0,3]

In [5]:
result = ""
for i in index_list:
    result += string[i]
print(result)

pizza

In [6]:
for i in range(2,10):
    for j in range(1,10):
        print(str(i) + " x " + str(j) + " = " + str(i*j))

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

In [7]:
input = [1,2,3,4,5]
sum=0
for i in input:
    j=i**2
    sum+=j
    print(sum)

1
5
14
30
55

In [8]:
pip install pandas

Requirement already satisfied: pandas in c:\programdata\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
import pandas as pd

In [42]:
data = [['a',10],['b',20],['c',30]]
df = pd.DataFrame(data, columns=['name', 'age'])
print(df)

  name  age
0    a   10
1    b   20
2    c   30

In [43]:
data = {'name':['a','b','c'],'age':[10,20,30]}
df = pd.DataFrame(data)
print(df)

  name  age
0    a   10
1    b   20
2    c   30

In [44]:
df = pd.read_csv('data.CSV')
print(df)

  name  age
0    a    1
1    b    2
2    c    3

In [45]:
df['name']

0    a
1    b
2    c
Name: name, dtype: object

In [47]:
df[['name','age']]

  name  age
0    a    1
1    b    2
2    c    3

In [48]:
df.loc[0]

name    a
age     1
Name: 0, dtype: object

In [49]:
df.loc[[0, 1]]

  name  age
0    a    1
1    b    2

In [25]:
df['score'] = [4, 5, 6]
df

  name  age  score
0    a    1      4
1    b    2      5
2    c    3      6

In [29]:
df.drop('score', axis=1, inplace=True)
df

  name  age
0    a    1
1    b    2
2    c    3

In [50]:
df.loc[3] = ['d', 4, 5]
df

ValueError: cannot set a row with mismatched columns

In [51]:
df.drop(3, inplace=True)
df

KeyError: '[3] not found in axis'

In [30]:
df.rename(columns={'name': 'id'}, inplace=True)

df

  id  age
0  a    1
1  b    2
2  c    3

In [52]:
data = [1,2,3]
s = pd.Series(data,index=["a","b","c"])
s

a    1
b    2
c    3
dtype: int64

In [53]:
data = {'a':1,'b':2,'c':3}
s = pd.Series(data)
s

a    1
b    2
c    3
dtype: int64

In [68]:
df = pd.read_csv('data1.csv', encoding='cp949')
df

    이름  나이  도시
0  김철수  30  서울
1  이영희  25  서울
2  박상현  40  대전
3  최지우  28  서울
4  정민수  35  세종
5  김민지  22  대전
6  장동건  45  서울
7  한가인  32  세종
8  강감찬  50  대전
9  이순신  27  대전

In [60]:
import pandas as pd
from sqlalchemy import create_engine  # SQLAlchemy Import

# 데이터베이스 연결 (예: SQLite)
engine = create_engine('sqlite:///mydatabase.db')

In [61]:
df.info()
df.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      10 non-null     object
 1   나이      10 non-null     int64
 2   도시      10 non-null     object
dtypes: int64(1), object(2)
memory usage: 372.0+ bytes

    이름  나이  도시
0  김철수  30  서울
1  이영희  25  서울
2  박상현  40  대전

In [62]:
df.describe()

              나이
count  10.000000
mean   33.400000
std     9.070097
min    22.000000
25%    27.250000
50%    31.000000
75%    38.750000
max    50.000000

In [63]:
df['이름']

0    김철수
1    이영희
2    박상현
3    최지우
4    정민수
5    김민지
6    장동건
7    한가인
8    강감찬
9    이순신
Name: 이름, dtype: object

In [64]:
df[['이름', '나이']]

    이름  나이
0  김철수  30
1  이영희  25
2  박상현  40
3  최지우  28
4  정민수  35
5  김민지  22
6  장동건  45
7  한가인  32
8  강감찬  50
9  이순신  27

In [65]:
df.loc[2]

이름    박상현
나이     40
도시     대전
Name: 2, dtype: object

In [66]:
df.loc[[1,2,3]]

    이름  나이  도시
1  이영희  25  서울
2  박상현  40  대전
3  최지우  28  서울

In [69]:
df['나이' < 30]

TypeError: '<' not supported between instances of 'str' and 'int'

In [70]:
df[df['나이'] >= 30]

    이름  나이  도시
0  김철수  30  서울
2  박상현  40  대전
4  정민수  35  세종
6  장동건  45  서울
7  한가인  32  세종
8  강감찬  50  대전

In [71]:
df[(df['나이'] < 30) & (df['도시'] == '대전')]

    이름  나이  도시
5  김민지  22  대전
9  이순신  27  대전

In [72]:
df[(df['나이'] >= 30) | (df['도시'] == '세종')]

    이름  나이  도시
0  김철수  30  서울
2  박상현  40  대전
4  정민수  35  세종
6  장동건  45  서울
7  한가인  32  세종
8  강감찬  50  대전

In [73]:
df[df['도시'].isin(['대전','세종'])]

    이름  나이  도시
2  박상현  40  대전
4  정민수  35  세종
5  김민지  22  대전
7  한가인  32  세종
8  강감찬  50  대전
9  이순신  27  대전

In [77]:
g = df.groupby('도시')
g.count()

    이름  나이
도시
대전   4   4
서울   4   4
세종   2   2

In [76]:
g.sum()

              이름   나이
도시
대전  박상현김민지강감찬이순신  139
서울  김철수이영희최지우장동건  128
세종        정민수한가인   67

In [80]:
g.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [81]:
g.median()
g.min()
g.max()
g.std()
g.var()

TypeError: agg function failed [how->median,dtype->object]